:root {
    --green: #07d13d;
    --red: #dc4d3d;
    --text-color: #202020;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}

body, button, input {
    font-family: Roboto, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content auto;
}

header {
    background-color: var(--red);
    color: white;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 0.6rem 1.5rem;
}

.sidebar {
    background-color: #fafafa;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 1rem 0.5rem;
}

.sidebar-header-title {
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 400;
}

#sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-project-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    aspect-ratio: 1 / 1;
    height: 1.5rem;
    min-width: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--green);
    padding: 0.5rem;

    background-color: #fafafa;
    color: var(--green);
    font-size: 1.5rem;
    font-weight: 300;
    
    
    cursor: pointer;
}

#add-project-button:hover {
    background-color: var(--green);
    color: white;
}

#projects-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project {
    font-size: 1rem;
    padding: 7px;
    border-radius: 3px;
    background-color: #eeeeee;
    cursor: pointer;
    transition: all 0.1s ease;
}

.project:hover, .project.active {
    background-color: var(--red);
    color: white;
}