:root {
    --green: #07d13d;
    --red: #dc4d3d;
    --transparent-red: #dc4d3d68;
    --light-gray: #fafafa;
    --dark-gray: #eeeeee;
    --text-color: #202020;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}

body, button, input {
    font-family: Roboto, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content auto;
}

header {
    background-color: var(--red);
    color: white;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding: 0.6rem 1.5rem;
}

.sidebar {
    background-color: var(--light-gray);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 1rem 0.5rem;
}

.sidebar-header-title {
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 400;
}

#sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    aspect-ratio: 1 / 1;
    height: 1.5rem;
    min-width: 1.5rem;
    border-radius: 50%;
    border: 0px solid var(--green);
    border: none;
    padding: 0.5rem;

    background-color: inherit;
    color: var(--green);
    font-size: 1.5rem;
    font-weight: 300;
    
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.add-item-button:hover {
    background-color: var(--green);
    color: white;
}

#projects-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project {
    font-size: 1rem;
    padding: 7px;
    border-radius: 3px;
    background-color: var(--dark-gray);
    cursor: pointer;
    transition: all 0.1s ease;
}

.project:hover {
    background-color: var(--transparent-red);
}

.project.active {
    background-color: var(--red);
    color: white;
}

.main-area {
    padding: 1rem;
}

.main-area-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#items-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.todo-item {
    list-style-type: none;
    min-width: 80%;
    border: 1px solid var(--dark-gray);
    border-radius: 3px;
    padding: 0.3rem 0.6em;
}